$alpheios-stat-block-max-clicks: #3E8D9C;
$alpheios-stat-block-failed: #881c07;
$alpheios-stat-block-success: #099f20;
$alpheios-stat-block-restart: #d12b0b;

$alpheios-stat-hard-mode-is: #099f20;
$alpheios-stat-hard-mode-default: #c6c6c6;